.pk-navigation-bar {
    background-color: #eb4f34 !important;
    color: white !important;
    transition: background-color 0.5s ease;
}

.pk-ball-logo {
    width: 40px;
    margin-right: 10px;
}

.pk-logo {
    width: 100px;
}

.pk-lines {
    width: 100%;
    height: 10px;
    background-color: yellow;
}

.navbar-brand,
.navbar-toggler,
.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.nav-link {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: red;
}

.pk-filter {
    padding: 10px;
    background-color: #eb4f34;
    width: 100%;
    height: 60px;
}

.pk-filter form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pk-filter input {
    width: 200px;
    border-radius: 10px !important;
}

.pk-list {
    padding: 20px;
}

.pk-list .card-title {
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
}

.pk-list .card-title:hover {
    color: yellow;
}

.pk-list .card {
    text-align: center;
}

.pk-list .card-body {
    background-color: #eb4f34;
    color: white;
}

.pk-frame {
    border: 5px solid yellow;
}

.pk-list img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1260px) {
    .pk-list img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 876px) {
    .pk-list img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.pk-pagination {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.pk-pagination button {
    color: white;
    padding: 10px;
    background-color: #eb4f34;
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
}

.pk-pagination button.active {
    background-color: white;
    color: #eb4f34;
    border: 1px solid #eb4f34;
}

.pk-pagination button:hover:not(.active) {
    background-color: red;
}

.pk-disabled-button {
    background-color: lightcoral !important;
}

.pk-menu-profile .dropdown-menu {
    right: 0;
    left: auto;
}

.pk-button-search {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #eb4f34;
    color: white;
}

.pk-button-search:hover {
    background-color: red;
}

.pk-not-found {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.pk-not-found img {
    width: 300px;
}

.pk-loading {
    width: 100%;
    text-align: center;
    color: #eb4f34;
    font-size: 50px;
    margin: auto;
}

.pk-detail-header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #eb4f34 80%, white 100%);
}

.pk-detail-header .pk-info {
    font-size: 30px;
    color: white;
    padding: 20px;
}

.pk-img-container {
    text-align: center;
}

.pk-img-container img {
    width: 400px;
}

.pk-detail-container {
    border-bottom: 1px solid #929da3;
}

.pk-table-container {
    margin: auto;
    padding-right: 40px;
}

@media only screen and (max-width: 1025px) {
    .pk-img-container img {
        width: 200px;
    }
    .pk-table-container {
        padding-right: 0;
    }
}

.bg-type-normal {
    background-color: #929da3;
    color: white;
}

.bg-type-fighting {
    background-color: #ce416b;
    color: white;
}

.bg-type-fire {
    background-color: #ff9d54;
    color: white;
}

.bg-type-flying {
    background-color: #8fa8de;
    color: white;
}

.bg-type-grass {
    background-color: green;
    color: white;
}

.bg-type-poison {
    background-color: purple;
    color: white;
}

.bg-type-ground {
    background-color: #d97845;
    color: white;
}

.bg-type-rock {
    background-color: #c4b78b;
    color: white;
}

.bg-type-bug {
    background-color: #91c12f;
    color: white;
}

.bg-type-ghost {
    background-color: #5269ad;
    color: white;
}

.bg-type-steel {
    background-color: #5a8ea3;
    color: white;
}

.bg-type-water {
    background-color: #5090d6;
    color: white;
}

.bg-type-electric {
    background-color: #f4d23b;
    color: white;
}

.bg-type-ice {
    background-color: #73cebf;
    color: white;
}

.bg-type-dragon {
    background-color: #0b6dc4;
    color: white;
}

.bg-type-dark {
    background-color: #5b5464;
    color: white;
}

.bg-type-fairy {
    background-color: #ec8fe7;
    color: white;
}

.bg-type-physical {
    background-color: #e9551b;
    color: white;
}

.bg-type-special {
    background-color: #1f4e94;
    color: white;
}

.bg-type-status {
    background-color: #999999;
    color: white;
}

.bg-type-unknown {
    background-color: #67a08f;
    color: white;
}

.bg-type-psychic {
    background-color: plum;
    color: white;
}

.bg-type-stellar {
    background-color: slateblue;
    color: white;
}

.pk-title-row {
    color: darkred !important;
}

.pk-detail-sound {
    display: flex;
    width: 100%;
}

.pk-table-moves table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.pk-no-table-moves {
    width: 80px;
}

.pk-detail-move-page {
    margin: 20px;
    font-size: 20px;
}

.pk-detail-stats table {
    width: 500px;
}

.pk-no-found {
    width: 100%;
    text-align: center;
    color: #eb4f34;
    font-size: 50px;
    margin: auto;
}

.pk-mypokemon-list {
    margin: 50px;
}

.pk-mypokemon-list .title {
    background-color: #eb4f34;
    color: white;
}

.pk-mypokemon-list img {
    width: 300px;
}

.pk-mypokemon-list button {
    color: white;
    padding: 10px;
    background-color: #eb4f34;
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.pk-button {
    color: white;
    padding: 10px;
    background-color: #eb4f34;
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
}

.catching-pokemon img {
    width: 300px;
    height: 300px;
}

.pk-catch-pokemon input {
    height: 40px;
    margin: 10px;
}

.pk-label-catch-pokemon {
    font-weight: bold;
    color: #eb4f34;
}

.pk-release-pokemon {
    text-align: center;
    margin: 50px;
}

.pk-release-pokemon img {
    width: 500px;
    height: 300px;
}

.pk-menu-profile button {
    color: white;
    padding: 10px;
    background-color: #eb4f34;
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
}

.pk-menu-profile input {
    margin: 10px;
}